NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_min_32_chars

NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_APP_NAME=ورد

# Telegram Login Widget
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=your_bot_username
